<h3>Article's full details:</h3>
<table class="table table-bordered table-hover">
	<tr>
	  <th>Title: </th> <td><%= @article.title %></td>
	</tr>
	<tr>
	  <th>Subcategories: </th>
	  <td>
	  	<ul class="list-group">
        <% @article.sub_categories.each do |sc| %>
          <li class="list-group-item"><%= sc.name %></li>
        <% end %>
      </ul>
	  </td>
	</tr>
	<tr>
	  <th>Content:</th> <td> <div> <%= @article.content%> </div></td>
	</tr>
</table>
<%= link_to 'Back to index', articles_path, class: 'btn btn-success' %>