<div> <h2> Deletion of sub categories...!</h2></div>
<div>
	<%= form_for(@sub_category, :url => {:action => "destroy", :controller => "sub_categories", :id => @sub_category.id}, :html => {:method =>"delete"}) do |f| %>
  <h2>Do you really want to delete the sub category @sub_category.name</h2>
  <br>
  <%= f.submit "Delete", class:'btn btn-danger'%>
  <%= link_to 'Cancel', 'sub_categories_path', class:'btn btn-primary'%>
<% end %>
</div>
	