<h3>Category's full details:</h3>
<table class="table table-bordered table-hover">
	<tr>
	  <th>Name: </th> <td><%= @category.name %></td>
	</tr>
	<tr>
	  <th>Created_at: </th> <td><%= @category.created_at %></td>
	</tr>
	<tr>
		<th>Subcategories: </th>
		<td>
			<ul class="list-group">
	      <% @category.sub_categories.each do |sc| %>
		      <li class="list-group-item"><%= sc.name %></li>
	      <% end %>
      </ul>
		</td>
	</tr>
</table>
<%= link_to 'Back to index', categories_path, class: 'btn btn-primary' %>